title CodingJit
meta(http-equiv='X-UA-Compatible', content='IE=edge')
<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" type="text/javascript"></script>
<![endif]-->
link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
link(href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.css', rel='stylesheet')
link(href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/theme/lesser-dark.min.css', rel='stylesheet')
link(href='/assets/css/style.css', rel='stylesheet')
